@{
	ViewData["Title"] = @Model.Get("Title", string.Empty);
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewData["Title"]</title>
    
    <script src="@Model.String("PathPrefix", string.Empty)js/jquery-2.1.4.min.js"></script>
    <script src="@Model.String("PathPrefix", string.Empty)js/bootstrap.min.js"></script>
    
    <link href="@Model.String("PathPrefix", string.Empty)css/bootstrap.min.css" rel="stylesheet" />
    <link href="@Model.String("PathPrefix", string.Empty)css/font-awesome.min.css" rel="stylesheet" />
    <link href="@Model.String("PathPrefix", string.Empty)css/site.css" rel="stylesheet" />
</head>

<body>
    <main>
        <div class="row">
            <div class="col col-md-3">
                @Html.Partial("Sidebar\\_NamespaceTree")
            </div>
            <div class="col col-md-9">
                @RenderBody()
            </div>
        </div>
    </main>
</body>

</html>