@{
    var properties = Model.List<IDocument>("Members")
                          .Where(x => x.Get<bool>("IsResult") && x.String("SpecificKind") == "Property" )
                          .OrderBy(x => x.String("FullName"));
    if (properties.Any())
    {
        <h3>Properties</h3>

        <table class="four-cols">
            <tr>
                <th>Accessibility</th>
                <th>Type</th>
                <th>Name</th>        
                <th>Description</th>
            </tr>
            
            @foreach(IDocument property in properties)
            {
            <tr>
                <td>@property.String("Accessibility").ToLower()</td>
                @{
                    var type = (@property.Get<IDocument>("Type"));
                    var writeLink = !string.IsNullOrEmpty(type.String("WritePath"));                    
                    <td>
                        @if (writeLink) 
                        {
                            <a href="@Model.String("PathPrefix", string.Empty)@type.String("WritePath")">@type.String("DisplayName")</a>
                        }
                        else
                        {
                            <text>@type.String("DisplayName")</text>
                        }
                    </td>
                }
                <td>@property.String("FullName")</td>            
                <td>@property.String("Summary")</td>
            </tr>                            
            }            
        </table>
    }
}